.card {
  min-height: 445px;
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.card__like-btn {
  background-image: url(../images/hearthover.svg);
  height: 20px;
  width: 23px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    min-height: 318px;
    width: 100%;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__like-btn {
    background-image: url(../images/Like-icon.svg);
    height: 18px;
    width: 20px;
  }

  .card__like-btn:hover {
    cursor: pointer;
    opacity: 1;
  }
}
